@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Grandstander');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: papayawhip;
}

.App-header {
  font-family: 'Bowlby One SC', cursive;
  color: papayawhip;
  background-color: steelblue;
  overflow: visible;
  width: 100%;
  text-align: center;
}

ol {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.botMessage {
  font-family: "Helvetica Neue Light", sans-serif;
  color: darkslategray;
  font-size: 14;
  background-color: lightgrey;
  text-align: left;
  width: 35%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 25px;
  display: flex;
  position: relative;
  margin-top: 20px;
  left: -30%;
}

.messageSent {
  font-family: "Helvetica Neue Light", sans-serif;
  color: darkslategray;
  font-size: 14;
  background-color: lightblue;
  text-align: left;
  width: 35%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 25px;
  display: flex;
  position: relative;
  margin-top: 20px;
  right: -30%;
}  

.botName {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: 14;
}

.userName {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: 14;
}

.message {
  text-align: left;
  margin-top: 10%;
  position: relative;
  left: -20%;
}

.messageSent .message p:blank {
  display: none;
}

.botMessage .message p:blank {
  display: none;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid steelblue;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: steelblue;
  color: papayawhip;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

